@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>Movie Details</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie Id</th>
            <th>Movie Name</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Date Added</th>
            <th>Number in stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Genre.Name</td>
            <td>@Model.ReleaseDate.ToShortDateString()</td>
            <td>@Model.DateAdded</td>
            <td>@Model.NumberInStock</td>

        </tr>
    </tbody>
</table>

@Html.ActionLink("Back to Movie List", "Index", null, new { @class = "btn btn-primary" })
